/* Загальні стилі для тіла сторінки */
body {
  font-family: Roboto, sans-serif; /*Основний шрифт + альтернативний*/
  line-height: 24px; /*Висота рядка*/
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

/* Скидання стилів списків та посилань */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /*Bold*/
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Виділення частини тексту в логотипі */
.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* Навігаційні посилання */
.nav-link {
  font-weight: 500; /*Medium*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Контактні посилання */
.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.title-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /*Bold*/
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* Підвал сторінки */
.page-footer {
  background-color: #2e2f42;
}
